<script lang="ts" setup></script>

<template>
  <v-text-field
    label="Please input Number"
    :rules="[(n) => !!n || ' Number is not empty!!']"
    required
  ></v-text-field>
  <span>{{}}</span>
</template>
