<script lang="ts" setup>
import { ref } from "vue";

const name = ref(String);
</script>
<template>
  <v-container>
    <v-row>
      <v-col
        ><v-img class="bg-white" width="300" :aspect-ratio="1" src="image.jpeg">
        </v-img
      ></v-col>
      <v-col>
        <div>
          <h1>ANGRY</h1>
        </div>
        <div class="ma-3">
          <v-btn width="100%" angry> ANGRY </v-btn>
        </div>
        <div class="ma-3">
          <v-btn width="100%" cute> CUTE </v-btn>
        </div>
        <div class="ma-3">
          <v-btn width="100%" excited> EXCITED </v-btn>
        </div>

        <div class="ma-3">
          <v-btn width="100%" pain> PAIN </v-btn>
        </div>
        <div class="ma-3">
          <v-btn width="100%" chocked> CHOCKED </v-btn>
        </div>
        <div class="ma-3">
          <v-btn width="100%" smile> SMILE </v-btn>
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped></style>
